%nav
  %ul.nav.nav-pills.pull-right
    %li{:role => "presentaion"}
      %a{:href => "#{forms_path}"} Home
    %li{:role => "presentaion"}
      %a{:href => "#{new_form_path}"} New
    %li{:role => "presentaion"}
      %a{:href => "#{answer_groups_path}"} Answers
    %li{:role => "presentaion"}
      %a{:href => "#{users_logout_path}"} Logout
